.contactIcon{
    border: 1.5px solid white;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.contactIcon:hover {
    color: aqua;
    border-color: aqua;
    /* background-color: rgba(54, 54, 54, 0.5); */
}